<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href=" "/>
<link rel="Shortcut Icon" href=" " />

<link rel="stylesheet" type="text/css" href="index/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="index/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="index/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="index/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="index/static/h-ui.admin/css/style.css" />

<title>电桩管理系统</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/aboutHui.shtml">电桩管理系统</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">H-ui</a>
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.1</span> 
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li>你好：</li>
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A" id="nc" style="color: yellow"><i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
						<li><a href="login.html">切换账户</a></li>
						<li><a href="login.html">退出</a></li>
				</ul>
			</li>
				<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
				<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
						<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
						<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
						<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
						<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
						<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
</header>
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<!--<dl id="menu-article">-->
			<!--<dt><i class="Hui-iconfont">&#xe616;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
			<!--<dd>-->
				<!--<ul>-->
					<!--<li><a data-href="article-list.html" data-title="电站管理" href="javascript:void(0)">电站管理</a></li>-->
					<!--<li><a data-href="article-list.html" data-title="电桩管理" href="javascript:void(0)">电桩管理</a></li>-->
			<!--</ul>-->
		<!--</dd>-->
	<!--</dl>-->

		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 电站管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a id="choose1" data-href="/stationController/getStationType" data-title="价格管理" href="javascript:void(0)">价格管理</a></li>
					<li><a id="choose2" data-href="/stationAdminController/stationAdminlist" data-title="电站管理员" href="javascript:void(1)">电站管理员</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe620;</i> 电桩管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a id="choose3" data-href="/pileStateController/getPile" data-title="电桩状态" href="javascript:;">电桩状态</a></li>
					<li><a id="choose4" data-href="/pileParaController/getPileType" data-title="电桩参数类型" href="javascript:;">电桩参数类型</a></li>
					<li><a id="choose5" data-href="/pileTypeController/getPileType" data-title="电桩类型" href="javascript:;">电桩类型</a></li>
					<li><a id="choose6" data-href="/warningController/getWarningList" data-title="故障管理" href="javascript:void(0)">故障管理 </a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="/userController/getUserList" data-title="用户列表" href="javascript:;">用户列表</a></li>
					<li><a data-href="/statisticsController/getRoleList" data-title="角色管理" href="javascript:void(2)">角色管理</a></li>
					<li><a data-href="admin-permission.html" data-title="权限管理" href="javascript:void(3)">权限管理</a></li>
					<li><a data-href="/foAdmin/getAdminList" data-title="管理员列表" href="javascript:void(4)">管理员列表</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont"th:if="${code==1}">&#xe613;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="picture-list.html" data-title="充值订单" href="javascript:void(0)">充值订单</a></li>
					<li><a data-href="/OrderController/getOrderList" data-title="消费记录" href="javascript:void(1)">消费记录</a></li>
					<li><a data-href="picture-list.html" data-title="异常订单" href="javascript:void(2)">异常订单</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont"th:if="${code==1}">&#xe62d;</i> 统计报表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="charts-4.html" data-title="总报表" href="javascript:void(0)">总报表</a></li>
			</ul>
		</dd>
	</dl>
		<!--<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
					<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
					<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
					<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
					<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
					<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
					<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
				</ul>
			</dd>
		</dl>-->
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
			</ul>
		</dd>
	</dl>
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="我的桌面" data-href="welcome.html">我的桌面</span>
					<em></em></li>
		</ul>
	</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="welcome.html"></iframe>
	</div>
</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
</ul>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="index/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="index/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="index/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="index/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="index/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
$(function(){

    //获取链接里面的参数。
    function GetPar(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r != null) return decodeURIComponent(r[2]);
        return null;
    }
	//传入参数名称（为字符串形式）
	//在这里获取，用变量储存，在后续页面才能获得，否则后续子页面无法获取
    var roleName=GetPar("roleName");
    if (roleName==null){
        layer.msg('请先登录！',{icon: 5,time:2000},function () {
            location="login.html";
        });
	}else{
        layer.msg('欢迎'+roleName+'登录！',{icon: 6,time:3000},function () {
            document.getElementById('nc').innerHTML=roleName;
            if (roleName != "超级管理员") {
                $('#choose1').attr('data-href','/stationController/getStationType?roleName='+roleName);
                $('#choose2').attr('data-href','/stationAdminController/stationAdminlist?roleName='+roleName);
                $('#choose3').attr('data-href','/pileStateController/getPile?roleName='+roleName);
                $('#choose4').attr('data-href','/pileParaController/getPileType?roleName='+roleName);
                $('#choose5').attr('data-href','/pileTypeController/getPileType?roleName='+roleName);
                $('#choose6').attr('data-href','/warningController/getWarningList?roleName='+roleName);
            }
        });
	}
	$.ajax({
		url:"/IndexController/PanduanRole",
		data:{roleName:roleName},
		dataType:"json",
		type:"post",
		success:function (res) {
			if (res.code == 2){
			    $("#menu-member").hide();
                $("#menu-picture").hide();
                $("#menu-admin").hide();
                $("#menu-system").hide();
			}else if (res.code == 3) {
                $("#menu-member").show();
                $("#menu-picture").show();
                $("#menu-admin").show();
                $("#menu-system").show();
			}
        }
	})

	/*$("#min_title_list li").contextMenu('Huiadminmenu', {
		bindings: {
			'closethis': function(t) {
				console.log(t);
				if(t.find("i")){
					t.find("i").trigger("click");
				}		
			},
			'closeall': function(t) {
				alert('Trigger was '+t.id+'\nAction was Email');
			},
		}
	});*/
});

/*个人信息*/
function myselfinfo(){
	layer.open({
		type: 1,
		area: ['300px','200px'],
		fix: false, //不固定
		maxmin: true,
		shade:0.4,
		title: '查看信息',
		content: '<div>管理员信息</div>'
	});
}
/*资讯-添加*/
function article_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}


</script> 


</body>
</html>