<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="btn">测试</button>
    <script src="/jquery-1.12.4.js"></script>
    <script>
        $(function () {
            var chang_id = 123;
            var pile_code = "zyz123";
            var pile_state = 0;
            var parameter_electricity = 0;
            var data = {chang_id:chang_id,pile_code:pile_code,pile_state:pile_state,parameter_electricity:parameter_electricity};
            $("#btn").click(function () {
                $.ajax({
                    url:"http://192.168.1.112/srvlet/flashokOpenEnd",
                    data:data,
                    dataType:"json",
                    type:"post",
                    success:function (res) {
                        if (res.getCode == 0){
                            alert(res.getMsg+res.getBeginTime)
                        }else{
                            alert(res.getMsg+res.getBeginTime)
                        }
                    }
                })
            })
        })
    </script>
</body>
</html>