<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" type="text/css" href="/index/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/index/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/index/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/index/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/index/static/h-ui.admin/css/style.css" />

<title>故障管理</title>
</head>
<body>
<style>
    .fanye{
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }
    .btn-top {
        background-color: rgb(94,185,94);
        border-radius: 5px;
    }
    .btn-down {
        background-color: rgb(94,185,94);
        border-radius: 5px;
    }
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 故障管理 <span class="c-gray en">&gt;</span> 图片列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form th:action="@{/warningController/getWarningList}">
	<div class="text-c"> 搜索：
		<input type="text" name="station_name" th:text="${station_name}"  placeholder=" 电站名称" style="width:250px" class="input-text">
		<select name="warning_state">
			<option value="">请选择</option>
			<option value="0" th:selected="${warning_state==0}">已修复</option>
			<option value="1" th:selected="${warning_state==1}">未修复</option>
		</select>
		<button name=""  class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜电站</button>
	</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" id="deletas" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong th:text="${page.totalCount}"></strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40"><input name="" type="checkbox" value=""></th>
					<th width="80">序号</th>
					<th width="100">电站名称</th>
					<th width="100">电桩编号</th>
					<th width="150">故障类型</th>
					<th>故障图片</th>
					<th width="150">故障备注</th>
					<th width="60">故障状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" th:each="warnings:${foWarningList}">
					<td>
						<input name="warning_ID" id="warning_ID" type="checkbox" th:value="${warnings.warning_ID}" >
					</td>
					<td th:text="${warningsStat.index+1}"></td>
					<td th:text="${warnings.getFoPile().getStation().getStation_name()}"></td>
					<td class="text-c" th:text="${warnings.warning_pile_code}"></td>
					<td class="text-c" th:text="${warnings.warning_type}"></td>
					<td th:text="${warnings.warning_images}"><a href="javascript:;" onClick="picture_edit('图库编辑','picture-show.html','10001')"><img width="210" class="picture-thumb" src="temp/200x150.jpg"></a></td>
					<!--<td class="text-l"><a class="maincolor" href="javascript:;" onClick="picture_edit('图库编辑','picture-show.html','10001')">现代简约 白色 餐厅</a></td>-->
					<td class="text-c" th:text="${warnings.warning_beizhu}"></td>
					<td class="td-status">
						<input type="text" th:value="${warnings.warning_ID}" hidden ="hidden">
						<button class="label label-success radius" th:if="${warnings.warning_state == 1}" th:value="${warnings.warning_state}">未修复</button>
						<button class="label label-defaunt radius" th:if="${warnings.warning_state == 0}" th:value="${warnings.warning_state}">已修复</button>
					</td>
					<td class="td-manage">
						<input type="text" th:value="${warnings.warning_ID}" hidden ="hidden">
						<a style="text-decoration:none" class="ml-5" id="delete" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="fanye">
			<a class="btn btn-top" th:href="@{/warningController/getWarningList(currpageno=${page.currPageNo}-1)}" th:if="${page.currPageNo}>1">上一页</a><span>第<strong th:text="${page.currPageNo}"></strong>页</span>
			<a class="btn btn-down" th:href="@{/warningController/getWarningList(currpageno=${page.currPageNo}+1)}" th:if="${page.currPageNo<page.totalPageCount}">下一页</a>
		</div>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/index/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/index/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/index/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/index/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/index/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="/index/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<script type="text/javascript" src="/index/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
// $('.table-sort').dataTable({
// 	"bStateSave": true,//状态保存
// 	"aoColumnDefs": [
// 	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
// 	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
// 	]
// });

$(function () {
    //修改状态
	$(document).on('click','.label',function () {
		var warning_state = $(this).val();
		var warning_ID = $(this).prev().val();
		$.ajax({
			url:"/warningController/updateWarningState",
			data:{warning_state:warning_state,warning_ID:warning_ID},
			dataType:"json",
			type:"post",
			success:function (res) {
				if(res.code == 1){
                    layer.confirm('确认要更改修复状态么？',function(index) {
                        layer.msg('修改成功!',{icon:6,time:1000},function () {
                            location.reload();
                        });
                    });
				}else{
                    layer.msg('修改失败!',{icon:4,time:1000},function () {
                        location.reload();
                    });
				}
            }
		})

    })
})
$(function () {
    //批量删除
    $("#deletas").click(function () {
        var warning_ids = [];
        $("input[name='warning_ID']:checked").each(function () {
            var aa = $(this).val();
            warning_ids.push(aa);
        });
        if (warning_ids.length<=0){
            layer.msg('请选择要删除的内容！',{icon:2,time:1000});
        } else {
            layer.confirm("你确定删除这些数据么？",function () {
                $.ajax({
                    url:"/warningController/deleteWarning",
                    type:"get",
                    data:{warning_ids:warning_ids+""},
                    dataType:"json",
                    // traditional:true,
                    success:function (res) {
                        if (res.code == 1) {
                            layer.msg("删除成功！",{icon:1,time:1000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg("删除失败！",{icon:2,time:1000});
                        }
                    }
                })
            })
        }
    })
	//单个删除
	$(document).on('click','#delete',function () {
        var warning_ids = $(this).prev().val();
        layer.confirm("你确定删除这条数据么？", function () {
            $.ajax({
                url: "/warningController/deleteWarning",
                data: {warning_ids: warning_ids},
                dataType: "json",
                type: "post",
                success: function (res) {
                    if (res.code == 1) {
                        layer.msg("删除成功！", {icon: 1, time: 1000}, function () {
                            window.location.reload();
                        });
                    }
                }
            })
        })
    })

})



/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-查看*/
function picture_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-审核*/
function picture_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'], 
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="picture_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}

/*图片-下架*/
function picture_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*图片-发布*/
function picture_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="picture_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}

/*图片-申请上线*/
function picture_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}

/*图片-编辑*/
function picture_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*图片-删除*/
function picture_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>