<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.AdminLoginMapper">
    <sql id="cadmin">
        admin_id,admin_name,admin_password,admin_addtime,
        admin_state,role_id,admin_pid,admin_data,admin_remarks,admin_email
    </sql>
    <select id="adminLogin" resultType="FoAdmin">
        select * from fo_admin where admin_name = #{admin_name} and  admin_password = #{admin_password}
    </select>

    <insert id="enrollAdmin" parameterType="FoAdmin">
        insert into fo_admin (admin_name,admin_password,admin_email,admin_addtime) values(#{admin_name},#{admin_password},#{admin_email},#{admin_addtime})
    </insert>

    <select id="panduanName" parameterType="String" resultType="FoAdmin">
        select admin_email from fo_admin where admin_email = #{admin_email}
    </select>
</mapper>