<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.PileMapper">
    <resultMap id="mapFoPile" type="FoPile">
        <id property="pile_id" column="pile_id"></id>
        <result property="pile_code" column="pile_code"></result>
        <result property="pile_state" column="pile_state"></result>
        <association property="parameter" javaType="FoParameter">
            <id property="parameter_id" column="parameter_id"></id>
            <result property="parameter_voltage" column="parameter_voltage"></result>
            <result property="parameter_current" column="parameter_current"></result>
            <result property="parameter_electricity" column="parameter_electricity"></result>
        </association>
        <association property="piletype" javaType="FoPiletype">
            <id property="piletype_id" column="piletype_id"></id>
            <result property="piletype_name" column="piletype_name"></result>
        </association>
        <association property="station" javaType="FoStation">
            <id property="station_id" column="station_id"></id>
            <result property="station_name" column="station_name"></result>
        </association>
    </resultMap>
    <select id="getFoPileList" resultMap="mapFoPile">
        select a.pile_id,b.piletype_name,a.pile_code,c.parameter_voltage,c.parameter_current,c.parameter_electricity,d.station_name,a.pile_state
        from fo_pile a left join fo_piletype b on a.piletype_id = b.piletype_id
        left join fo_parameter c on a.piletype_id = c.piletype_id
        left join fo_station d on a.station_id = d.station_id
    </select>
    <select id="getPiles" resultType="FoPile">
        select a.pile_id,a.pile_code,a.pile_creationtime,a.pile_state,b.piletype_name
        from fo_pile a left join fo_piletype b on a.piletype_id = b.piletype_id
        left join fo_parameter c on a.piletype_id = c.piletype_id
    </select>
</mapper>