<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.StationMapper">
    <resultMap id="stationMap" type="FoStation">
        <id property="station_id" column="station_id"/>
        <result property="station_code" column="station_code"/>
        <result property="station_name" column="station_name"/>
        <result property="station_cost" column="station_cost"/>
        <result property="station_service" column="station_service"/>
        <result property="state_dcprice" column="state_dcprice"/>
        <result property="state_acprice" column="state_acprice"/>
        <result property="station_state" column="station_state"/>
        <result property="station_longitude" column="station_longitude"/>
        <result property="station_latitude" column="station_latitude"/>
        <association property="state" javaType="FoState">
            <id property="state_id" column="state_id"/>
            <result property="state_name" column="state_name"/>
        </association>
    </resultMap>

    <sql id="station">
        station_id,station_code,station_name,station_cost,station_service,state_dcprice,
        state_acprice,station_state,a.state_id,state_name,station_longitude,station_latitude
    </sql>

    <sql id="wherestation">
        <where>
            <if test="station_name!=null">
                station_name like concat('%',#{station_name},'%')
            </if>
            <if test="station_state!=null">
                and station_state=#{station_state}
            </if>
        </where>
    </sql>
    <select id="getFoStationList" resultMap="stationMap">
        select <include refid="station"/> from fo_station a left join fo_state b on a.state_id = b.state_id <include refid="wherestation"/> limit #{pagecurr},#{pagesize}
    </select>
    <select id="getStationCount" resultType="int">
        select count(1) from fo_station <include refid="wherestation"/>
    </select>
    <select id="getStationById" parameterType="Long" resultMap="stationMap">
        select <include refid="station"/> from fo_station a left join fo_state b on a.state_id = b.state_id  where a.station_id=#{station_id}
    </select>
    <update id="updStation">
        update fo_station
        <set>
            <if test="station.station_cost!=0.0">
                station_cost=#{station.station_cost},
            </if>
            <if test="station.station_service!=0.0">
                station_service=#{station.station_service},
            </if>
            <if test="station.state_dcprice!=0.0">
                state_dcprice=#{station.state_dcprice},
            </if>
            <if test="station.state_acprice!=0.0">
                state_acprice=#{station.state_acprice},
            </if>
            <if test="station.station_state!=null">
                station_state=#{station.station_state},
            </if>
        </set>
        where station_id=#{station.station_id}
    </update>

    <!--添加电站-->
    <insert id="addStation">
        insert into fo_station
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="station.station_code!=null">
                station_code,
            </if>
            <if test="station.station_name!=null">
                station_name,
            </if>
            <if test="station.station_cost!=0">
                station_cost,
            </if>
            <if test="station.station_service!=0">
                station_service,
            </if>
            <if test="station.state_dcprice!=0">
                state_dcprice,
            </if>
            <if test="station.state_acprice!=0">
                state_acprice,
            </if>
            <if test="station.station_state!=null">
                station_state,
            </if>
            <if test="station.state_id!=0">
                state_id,
            </if>
        </trim> values
        <trim prefix="(" suffixOverrides="," suffix=")">

            <if test="station.station_code!=null">
                #{station.station_code},
            </if>
            <if test="station.station_name!=null">
                #{station.station_name},
            </if>
            <if test="station.station_cost!=0">
                #{station.station_cost},
            </if>
            <if test="station.station_service!=0">
                #{station.station_service},
            </if>
            <if test="station.state_dcprice!=0">
                #{station.state_dcprice},
            </if>
            <if test="station.state_acprice!=0">
                #{station.state_acprice},
            </if>
            <if test="station.station_state!=null">
                #{station.station_state},
            </if>
            <if test="station.state_id!=0">
                #{station.state_id},
            </if>
        </trim>
    </insert>
    <update id="updState">
        update fo_station set station_state = #{station_state} where station_id = #{station_id}
    </update>
    <select id="getState" resultType="FoState">
        select state_id,state_name from fo_state
    </select>
</mapper>